# Created by .ignore support plugin (hsz.mobi)
build
build-tmp
node_modules
*.log
*.lock
*.rar
*.zip
.idea
.vscode
.project
org.eclipse*
.settings
.DS_Store
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Thumbs.db

.now