{
  "extends": ["eslint:recommended", "prettier", "plugin:node/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    // Only ESLint 6.2.0 and later support ES2020.
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "modules": true
    },
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "document": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-unused-vars": "warn",
    "node/no-unsupported-features/es-syntax": 0,
    "no-undef": "warn",
    "node/no-unpublished-import": "warn",
    "node/no-missing-import": "warn"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules"]
      },
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
