# Created by .ignore support plugin (hsz.mobi)
node_modules
*.log
*.lock
*.rar
*.zip
*.js
.idea
.vscode
.project
org.eclipse*
.settings
.DS_Store
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Thumbs.db
private_test_data/index.ts
